<!DOCTYPE html>
<html lang="en">
  <%- include ('header', {title: "Login"}) %>
  <body>
    <form action="/login" method="POST">
      <input type="text" name="email" />
      <input type="password" name="password" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
